html, body {
    padding: 0;
    margin: 0;
}

.p, .copyright{
    margin: 10px;
}

.logo {
    margin-top:5px;
    margin-left:20px;
}

.hero {
/*    background-image: url('../images/lisboa-oriente-background.jpeg');
    background-size: cover;
    background-position: center 30%;*/
    background-color: #263238;
    height:450px;
}

.hear.container {
    padding: 50px 0 50px 0;
}

.avatar {

}

.avatar img {
    border-radius: 50%;
    width:200px;
    height:200px;
}

.quote {
    font-size:2em;
    font-weight:light;
    color: #ffffff
}

.copyright {

}
