// Body
$body-bg: #ffffff;

// Status
$status-info: #8eb4cb;
$status-success: #2ab27b;
$status-warning: #cbb956;
$status-danger:  #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size: 17px;
$line-height: 1.6;
$text-color: #636b6f;


