<meta name="google-site-verification" content="opSad0Rb7G4tsAhPiVI_u5IW99IYo9RnZ30vvYJthI4" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="msapplication-tap-highlight" content="no">
<link rel="icon" href="{{ site.baseurl }}img/favicon.png" sizes="32x32">
<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}app.css"  media="screen,projection"/>
<script src="{{ site.baseurl }}app.js"></script>
