<nav class="white blue-grey-text text-darken-2">
    <div class="container">
        <div class="nav-wrapper">
            <a href="{{ site.baseurl }}" class="brand-logo">
                <img src="{{ site.baseurl }}img/marcov4lente-logo.png" alt="MarcoV4lente">
            </a>
            <ul id="nav-mobile" class="right hide-on-large-only">
                <li>
                    <a href="{{ site.baseurl }}" class="cyan-text text-darken-2"><i class="fa fa-home" aria-hidden="true"></i></i> Home</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}articles" class="cyan-text text-darken-2"><i class="fa fa-file-text" aria-hidden="true"></i> Articles</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="cyan-text text-darken-2" target="blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linked In</a>
                </li>
                <li>
                    <a href="https://github.com/{{ site.github_username }}" class="cyan-text text-darken-2" target="blank"><i class="fa fa-github-square" aria-hidden="true"></i> GitHub</a>
                </li>
                <li>
                    <a href="https://instagram.com/{{ site.instagram_username }}" class="cyan-text text-darken-2" target="blank"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
