<div class="row hide-on-large-only blue-grey lighten-5">
    <div class="col s3 center-align">
        <div class="section white-text">
            <a href="{{ site.baseurl }}articles"  class="cyan-text text-darken-2"><h2><i class="fa fa-file-text" aria-hidden="true"></i></h2><h4>Articles</h4></a>
        </div>
    </div>
    <div class="col s3 center-align">
        <div class="section white-text">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="cyan-text text-darken-2" target="blank"><h2><i class="fa fa-linkedin-square" aria-hidden="true"></i></h2><h4>Linked In</h4></a>
        </div>
    </div>
    <div class="col s3 center-align">
        <div class="section white-text">
            <a href="https://github.com/{{ site.github_username }}" class="cyan-text text-darken-2" target="blank"><h2><i class="fa fa-github-square" aria-hidden="true"></i></h2><h4>GitHub</h4></a>
        </div>
    </div>
    <div class="col s3 center-align">
        <div class="section white-text">
            <a href="https://instagram.com/{{ site.instagram_username }}" class="cyan-text text-darken-2" target="blank"><h2><i class="fa fa-instagram" aria-hidden="true"></i></h2><h4>Instagram</h4></a>
        </div>
    </div>
</div>
