<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }} | {{ site.title }}</title>
        {% include header-assets.html %}
    </head>
    <body>
        {% include navigation-bar.html %}
        <div class="row hero">
            <div class="container">
                <div class="col s12">
                   <h1>{{ page.title }}</h1>
                </div>
            </div>
        </div>
        {% include social-mobile.html %}
        <div class="row">
            <div class="container">
                <div class="col s12 m12">
                    <div class="section">
                        {{ content }}
                    </div>
                    <div class="section">
                        {{ page.date | date_to_long_string  }}
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
        {% include google-analytics.html %}
    </body>
</html>
