<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }} | {{ site.title }}</title>
        {% include header-assets.html %}
    </head>
    <body>
        {% include navigation-bar.html %}
        {% include page-title.html %}
        {% include social-mobile.html %}
        <div class="row">
            <div class="container">
                <div class="col s12 m12">
                    <ul class="collection z-depth-1">
                        {% for post in paginator.posts %}
                            <li class="collection-item">
                                <span class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></span>
                                <p>
                                    {{ post.description }}...<a href="{{ site.baseurl }}{{ post.url }}">read more.</a><br>
                                    {{ post.date | date_to_long_string  }}
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col s12 m12">
                    {% if paginator.total_pages > 1 %}
                    <div class="pagination">
                        {% if paginator.previous_page %}
                            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
                        {% else %}
                            <span>&laquo; Prev</span>
                        {% endif %}

                        {% for page in (1..paginator.total_pages) %}
                            {% if page == paginator.page %}
                                <em>{{ page }}</em>
                            {% elsif page == 1 %}
                                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                            {% else %}
                                <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if paginator.next_page %}
                            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
                        {% else %}
                            <span>Next &raquo;</span>
                        {% endif %}
                    </div>
                    {% endif %}



                </div>
            </div>
        </div>
        {% include footer.html %}
        {% include google-analytics.html %}
    </body>
</html>
